.footer {
  background-color: #bc4b4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: white;
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1em;
}

#networks {
  display: flex;
  margin-bottom: 1.5em;
  gap: 0.5em;
  padding-right: 1em;
}

img#IG {
  width: 1.5em;
}

img#FB {
  width: 1.5em;
}

img#X {
  width: 1.5em;
}
