* {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #bc4b4b;
}

#logo {
  width: 7em;
  height: 7em;
  padding: 0.5em;
}

button {
  background: transparent;
  border: none;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 27px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#Log_In {
  background-color: white;
  margin-top: 0;
  color: #bc4b4b;
  border: rgb(148, 148) solid 1px;
  width: 7em;
  height: 2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

#Log_In:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

#navbar {
  display: flex;
  gap: 25px;
  align-items: center;
}

#home {
  border: none;
  width: 2em;
  height: 2em;
  padding-bottom: 2em;
  background: transparent;
  border: none;
  transition: transform 0.3s ease;
}

#home:hover {
  transform: scale(1.2);
}
