div.movie-details {
  width: 100%;
  background-color: rgb(237, 237, 233);
  padding-bottom: 5%;
}

.CardTitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-transform: uppercase;
}

.MovieInfos {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 5px;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.CardYear {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.CardDirector {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.CardCountry {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.CardSummary {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
  margin-right: 16px;
}

.SummaryFavorite {
  display: grid;
  grid-template-columns: auto auto;
}

.favorite-button {
  margin-top: 0;
  font-size: 2em;
  padding-right: 10px;
}

.ButtonBack img {
  width: 100%;
}

.ButtonBack button {
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  width: 3%;
  transition: none;
}

.ButtonBack button:hover {
  background-color: transparent;
}
